* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-image: url("./images/nature-canada.jpeg");   
}
/*header styles*/
header {
    padding: 20px 35px;
    background-image: url("./images/night-sky.jpeg");    
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    color: whitesmoke;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;/*vw stands for veiwport width*/
    color: whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
header nav ul li a:hover {
    background-color: green;
    color: yellow;
    border-radius: 10px;

}
/*image styles*/
#bio-image {
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
    display: flex;
}
#bio-image:hover {
  box-shadow: 2px 2px 2px 1px rgba(24, 133, 5, 0.5)
}

/*left side styles*/
.wrapper {
    display: flex;
    flex-direction: row;
    margin: 10px;  
    border: 5px, solid black;  
}

#About-Me {
    display: flex;
}
#About-Me h2 {
    padding-right: 20px;
    border-right: 5px solid blue;
}
#About-Me p {
    padding-left: 20px;
}

#My-Work {
    display: flex;
}
#My-Work h2 {
    width: 150px;
    padding-right: 75px;
    border-right: 5px solid blue;
}
#My-Work .flex-container {
    padding-left: 20px;
}

#Contact-Me {
    display: flex;
}
#Contact-Me h2 {
    padding-right: 20px;
    border-right: 5px solid blue; 
}
#Contact-Me address {
    padding-left: 20px;
}

#Resume {
    display: flex;
}
#Resume h2 {
    padding-right: 20px;
    border-right: 5px solid blue;
}
#Resume p {
    padding-left: 20px;
}
/*right side styles*/
.right {
    width: 100%;
    padding: 25px;
    flex-direction: row;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    margin: 20px;
  }

.flex-item {
    width: 45%;
    border: 3px solid red;
    height: 100%; 
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-image: "./assets/images/Run-buddy.jpg";
    background-size: cover;    
}
.flex-item:hover {
    width: 50%;
    height: 50%;
}
.imgclass {
    width: 100%;
    height: 100%;
}

.flex-item span {
    margin: 0;
    margin-bottom: 25px;
    width: 33%;
    background-color: rgba(14, 123, 212, 0.5);
    padding: 5px 10px;
    text-align: center;
    z-index: 9999;
}

/*footer syles*/
footer h2 {
    font-size: 30px;
    text-align: center;
    position: bottom;
    width: 100%;
    bottom: 10px;
    border: 3px solid rgba(14, 123, 212, 0.5);

}


/* Media queries for the following screen sizes */

/* Width at 1024px and below */
@media screen and (max-width: 1024px) { 

    
    .flex-container {
      /* Box-model */
      width: 100%;
      padding: 0;
      flex-direction: column;

    }

    .flex-item {
        width: 100%;
        height: 50%;
    }
    
  
    .right {
      width: flex 2;
    }
  }
  
  /* Width at 768px and below */
  @media screen and (max-width: 768px) {

  
    header {
        flex-direction: column;
    }
    
    .flex-container {
        /* Box-model */
        width: 100%;
        padding: 0;
        flex-direction: column;
  
      }
  
      .flex-item {
          width: 100%;
      }
       
    
      .right {
        width: flex 2;
      }
    }
  
  /* Width at 600px and below */
  @media screen and (max-width: 600px) {

  
    .flex-container {
        /* Box-model */
        width: 100%;
        padding: 0;
        flex-direction: column;
  
      }
  
      .flex-item {
          width: 100%;
      }
       
    
      .right {
        width: flex 2;
      }
    }
  
  
  /* Width at 480px and below */
  @media screen and (max-width: 480px) {

    header {
        flex-direction: column;
    }
    
    .flex-container {
        /* Box-model */
        width: 100%;
        padding: 0;
        flex-direction: column;
  
      }
  
      .flex-item {
          width: 100%;
      }
       
    
      .right {
        width: flex 2;
      }
    }
  
  /* Width at 300px and below */
  @media screen and (max-width: 300px) {

    .flex-container {
        /* Box-model */
        width: 100%;
        padding: 0;
        flex-direction: column;
  
      }
  
      .flex-item {
          width: 100%;
      }
       
    
      .right {
        width: flex 2;
      }
    } 

